body{
    background-color: black;
}

.grid-container{
    display: grid;
     grid-template-columns: auto auto auto auto;
     background-color: rgb(252, 252, 252);
     border: 5px solid rgb(255, 255, 255);
     width: 300px;
     align-content: center;
     height: auto;
     padding:5px;
}

.grid-container > div{
    background-color: rgb(255, 255, 255);
    text-align: center;

    border: 5px solid rgb(255, 255, 255);
    padding:20px;
    font-size:20px;
}

.grid-container1 > div{
    background-color: rgb(255, 255, 255);
    text-align: right;
    align-content: center;
    width: 290px;
    border: 5px solid rgb(255, 255, 255);
    padding:20px;
    font-size:30px;
}

